{% extends 'base.html' %}
{% block content %}


    <div id="homepage-block">
    <h1 id="homepage-title"></h1>
    </div>

    <div>
    <img src = "https://res.cloudinary.com/dvhvxgxtf/image/upload/v1552330920/sugar_coin logo.png"
         alt = "sugar_coin logo height="300"  width="300" align="center">
    </div>


    <div>
    <form action="login" method="GET">
    <input type="submit" value="Login" >
    </form>
    </div>

    <div>
    <form action="register" method="GET">
    <input type="submit" value="Register" >
    </form>
    </div>

    </div>

{% endblock %}
