{% extends 'base.html' %}
{% block content %}

<section class="splash-header">
    <img class=coin-img src="https://res.cloudinary.com/dvhvxgxtf/image/upload/v1552451429/COIN_IMAGE_idcjxe.png"
         alt="sugarcoin" height="300" width="300">
    <h1 id=login>Sign in</h1>
    <form action="/login" method="POST" autocomplete="off">
        <input name="email" type="text" class="form-control placeholder-color" placeholder="Your Email">
        <input name="password" type="password" class="form-control placeholder-color" placeholder="Your Password">
        <input type="submit" class="btn" value="Submit">
        <a href="/" class="btn">Homepage</a>
    </form>
</section>

{% endblock %}

