{% extends 'base.html' %}
{% block content %}

    <h1 id=register align="center">Register</h1>


    <form action="/register" method="POST" autocomplete="off">

        <section class="splash-header">
            <div class="form-group">

                <input type="text" name="fname" placeholder="Firstname" class="form-control placeholder-color">
                <input type="text" name="lname" placeholder="Lastname" class="form-control placeholder-color">
                <input type="text" name="email" placeholder="Email" class="form-control placeholder-color">
                <input type="password" name="password" placeholder="Password"
                       class="form-control placeholder-color">
                <input type="password" name="password" placeholder="Confirm Password"
                       class="form-control placeholder-color">
                <input type="text" name="pnum" placeholder="Phone number" class="form-control placeholder-color">
                <input type="radio" name="gender" value="M"> Male <input type="radio" name="gender" value="F">
                Female
                <div class="form-group" align="center">
                    <input type="submit" value="Track my sugar intake!" class="btn">
                </div>
                <div class="form-group" align="center">
                    <a href="/" class="btn">Homepage</a>
                </div>
            </div>
        </section>
    </form>

{% endblock %}