{% extends 'base.html' %}
{% block content %}

<!-- Static navbar -->
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">SugarCoin</a>
                <img class="coin-img"
                     src="https://res.cloudinary.com/dvhvxgxtf/image/upload/v1552451429/COIN_IMAGE_idcjxe.png"
                     alt="sugarcoin" height="50" width="50" align="center">
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form action="/trends/{{ user_id }}" method="GET">
                            <input type="submit" value="Trends" class="btn">
                        </form>
                    </li>
                    <li>
                        <form action="/user_dashboard/{{ user_id }}" method="GET">
                            <input type="submit" value="Dashboard" class="btn">
                        </form>
                    </li>
                    <li>
                        <form action="/logout" method="GET">
                            <input type="submit" value="Log out" class="btn">
                        </form>
                </ul>
            </div>
        </div>
    </nav>


<!-- Current weight and glucose level form -->
<h1>Profile</h1>
<div style="margin: 0 auto; width:40%;">
        <form action="/user_profile/{{ user_id }}" method="POST" autocomplete="off">
            <div class="white-container form-group">
                <label>
                    <p>Weight</p>
                    <input type="number" name="weight" class="form-control placeholder-color" placeholder="Weight">
                    <input type="submit" value="Submit" class="btn">
                </label>
            </div>
        </form>


        <form action="/user_profile/{{ user_id }}" method="POST" autocomplete="off">
            <div class="white-container form-group">
                <label>
                    <p>Blood-glucose level</p>
                    <input type="number" name="blood-glucose" class="form-control placeholder-color"
                           placeholder="Blood-glucose level">
                    <input type="submit" value="Submit" class="btn">
                </label>
        </form>
</div>
{% endblock %}